@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
:root {
  --darkgreen: #3f3369;
  --lightgreen: #32a790;
  --grey: #0c011544;
}

body {
  min-width: 400px;
  background: linear-gradient(to right, var(--darkgreen), var(--lightgreen));
  margin: 0;
  overflow: hidden;
}

.navbar {
  background: var(--grey);
  border-bottom: 1px solid var(--lightgreen);
}

.bg {
  background-image: url(./images/microphone.png);
  left: -550px;
  background-size: 1200px 1200px;
  background-repeat: no-repeat;
  position: fixed;
  display: fixed;
  width: 400vw;
  height: 200vh;
  opacity: 50%;
  z-index: -1;
  overflow: hidden;
}

.navbar-brand img {
  max-height: 100%;
}

.logo {
  width: 35px;
  height: 30px;
  user-select: none;
  margin-right: 10px;
}

[data-role="recordings"] > .row {
  width: 100%;
  height: 100%;
  padding: 5px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
}

[data-role="recordings"] > .row > a {
  position: sticky;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  background-color: #051768;
  margin-left: 15px;
  cursor: pointer;
  background: none;
}

[data-role="recordings"] > .row > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(to bottom, rgb(9, 3, 85) 0%, rgb(4, 87, 90) 100%);
  box-shadow: 0 4px 4px rgba(17, 17, 17, 0.3);
  opacity: 0;
  z-index: -1;
  animation: pulse 2s infinite;
}

[data-role="recordings"] > .row > a:hover::before {
  animation: none;
  opacity: 0.6;
  transform: scale(1.2);
}

[data-role="recordings"] > .row > a:active {
  background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}

[data-role="recordings"] > .row > a > img {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 9px;
  top: 8px;
  opacity: 80%;
}

.btn-record::before {
  content: "";
  background-image: url("./images/minilogo.png");
  background-size: cover;
  width: 70px;
  height: 55px;
  display: block;
  margin: 10px auto;
}

.btn-record {
  margin: 75px auto;
  display: block;
  outline: none;
  border: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1a75ca),
    to(#0f9456)
  );
  background-image: -o-linear-gradient(bottom, #6839d4 0%, #12cfe4 100%);
  background-image: linear-gradient(0deg, #125ed1 0%, #6cd6e4 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
}

.btn-record:hover {
  background-image: -o-linear-gradient(bottom, #6839d4 0%, #12a1e4 100%);
  background-image: linear-gradient(0deg, #126ed1 0%, #12a1e4 100%);
}

.btn-stop-recording {
  margin: 75px auto;
  outline: none;
  display: block;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
  background-color: #e03042;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#460a0b),
    to(#f14a5a)
  );
  background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
  background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}

.btn-upload::before {
  content: "";
  background-image: url("./images/upload.png");
  background-size: cover;
  width: 50px;
  height: 60px;
  display: block;
  margin: 14px auto;
}

.btn-upload {
  margin: 75px auto;
  display: block;
  outline: none;
  border: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1a75ca),
    to(#0f9456)
  );
  background-image: -o-linear-gradient(bottom, #08685b 0%, #91cfc5 100%);
  background-image: linear-gradient(0deg, #08685b 0%, #91cfc5 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
}

.btn-upload:hover {
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1a75ca),
    to(#0f9456)
  );
  background-image: -o-linear-gradient(bottom, #034139 0%, #a0dad0 100%);
  background-image: linear-gradient(0deg, #034139 0%, #a0dad0 100%);
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
