@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
:root {
  --darkgreen: #3f3369;
  --lightgreen: #32a790;
  --grey: #0c011544;
}

body {
  min-width: 400px;
  background: linear-gradient(to right, var(--darkgreen), var(--lightgreen));
  margin: 0;
  overflow: auto;
}

.navbar {
  background: var(--grey);
  border-bottom: 1px solid var(--lightgreen);
}

.bg {
  background-image: url(./images/microphone.png);
  left: -550px;
  background-size: 1200px 1200px;
  background-repeat: no-repeat;
  position: fixed;
  display: fixed;
  width: 400vw;
  height: 200vh;
  opacity: 50%;
  z-index: -1;
  overflow: hidden;
}

.navbar-brand img {
  max-height: 100%;
}

.logo {
  width: 35px;
  height: 30px;
  user-select: none;
  margin-right: 10px;
}

[data-role="recordings"] > .row {
  width: 100%;
  height: 100%;
  padding: 5px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
}

[data-role="recordings"] > .row > a {
  position: sticky;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  background-color: #051768;
  margin-left: 15px;
  cursor: pointer;
  background: none;
}

[data-role="recordings"] > .row > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(to bottom, rgb(9, 3, 85) 0%, rgb(4, 87, 90) 100%);
  box-shadow: 0 4px 4px rgba(17, 17, 17, 0.3);
  opacity: 0;
  z-index: -1;
  animation: pulse 2s infinite;
}

[data-role="recordings"] > .row > a:hover::before {
  animation: none;
  opacity: 0.6;
  transform: scale(1.2);
}

[data-role="recordings"] > .row > a:active {
  background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}

[data-role="recordings"] > .row > a > img {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 9px;
  top: 8px;
  opacity: 80%;
}

.btn-record::before {
  content: "";
  background-image: url("./images/minilogo.png");
  background-size: cover;
  width: 70px;
  height: 55px;
  display: block;
  margin: 10px auto;
}

.btn-record {
  margin: 75px auto;
  display: block;
  outline: none;
  border: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#43285a),
    to(#bc9db8)
  );
  background-image: -o-linear-gradient(bottom, #43285a 0%, #bc9db8 100%);
  background-image: linear-gradient(0deg, #43285a 0%, #bc9db8 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
}

.btn-record:hover {
  background-image: -o-linear-gradient(bottom, #7b3985 0%, #c92b5f 100%);
  background-image: linear-gradient(0deg, #7b3985 0%, #c92b5f 100%);
}

.btn-stop-recording {
  margin: 75px auto;
  outline: none;
  display: block;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
  background-color: #e03042;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#460a0b),
    to(#f14a5a)
  );
  background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
  background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}

.btn-upload::before {
  content: "";
  background-image: url("./images/upload.png");
  background-size: cover;
  width: 50px;
  height: 60px;
  display: block;
  margin: 14px auto;
}

.btn-upload {
  margin: 75px auto;
  display: block;
  outline: none;
  border: none;
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#3199bc),
    to(#89cef9)
  );
  background-image: -o-linear-gradient(bottom, #3199bc 0%, #89cef9 100%);
  background-image: linear-gradient(0deg, #3199bc 0%, #89cef9 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
}

.btn-upload:hover {
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1a75ca),
    to(#0f9456)
  );
  background-image: -o-linear-gradient(bottom, #034139 0%, #a0dad0 100%);
  background-image: linear-gradient(0deg, #034139 0%, #a0dad0 100%);
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
    0px 0px 0px 35px #333;
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

#waveform ::part(hover-label):before {
  content: "⏱️ ";
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#play {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #333;
  display: grid;
  place-content: center;
  animation: grow 2s infinite;
}
#play > span {
  content: "pause_circle_outline";
  color: #eee;
  font-size: 75px;
}

@keyframes grow {
  from {
    box-shadow: 0px 0px 1em #000;
  }
  to {
    box-shadow: 0px 0px 3em #000;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lobster);
equalizer {
  border: #7764a2 solid 0.2em;
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  transition: border-color 0.25s linear;
  margin: 40px 0px 0px 0px;
}
equalizer:hover {
  border: #bbb solid 0.2em;
}

fieldset {
  border: #7764a2 solid 0.2em;
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  transition: border-color 0.25s linear;
  margin: 20px 0px 0px 0px;
}

fieldset:hover {
  border: #bbb solid 0.2em;
}

legend {
  font-size: 1.8em;
  font-family: "Lobster", sans-serif;
  padding-left: 0.3em;
  padding-right: 0.2em;
  color: #7338ab;
}

input[type="range"] {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  width: 12%;
  min-width: 40px;
  height: 12%;
  border-radius: 0.25em;
  border: 0.2em solid #242424;
  background-color: #242424;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  box-shadow: 0 0 0 0 transparent;
}
input[type="range"]:focus {
  box-shadow: 0 0 0 0.1em #aaaaaa;
}
input[type="range"]:hover {
  box-shadow: 0 0 0 0.15em #7764a2;
}

input[type="range"] {
  transform: rotate(270deg);
  margin: 4.5em -1.5em;
  display: inline-block;
}

/* ## Slider components */
/* ### Slider::-track */
input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}
input[type="range"]::-moz-range-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}
input[type="range"]::-ms-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

/* ### Slider::-thumb */
input[type="range"]::-webkit-slider-thumb {
  margin: 0.05em;
  padding: 0;
  height: 0.9em;
  width: 0.9em;
  border-radius: 0.1em;
  box-sizing: border-box;
  border: none;
  background-color: #6fc5f0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2f343f,
    -7em 0 0 0 #283f6b, -6em 0 0 0 #214893, -5em 0 0 0 #1a52bc,
    -4em 0 0 0 #2769d3, -3em 0 0 0 #3e87dc, -2em 0 0 0 #55a5e6,
    -1em 0 0 0 #6fc5f0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818,
    4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818,
    8em 0 0 0 #181818, 9em 0 0 0 #181818;
}
input[type="range"]::-moz-range-thumb {
  margin: 0.05em;
  padding: 0;
  height: 0.9em;
  width: 0.9em;
  border-radius: 0.1em;
  box-sizing: border-box;
  border: none;
  background-color: #6fc5f0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2f343f,
    -7em 0 0 0 #283f6b, -6em 0 0 0 #214893, -5em 0 0 0 #1a52bc,
    -4em 0 0 0 #2769d3, -3em 0 0 0 #3e87dc, -2em 0 0 0 #55a5e6,
    -1em 0 0 0 #6fc5f0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818,
    4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818,
    8em 0 0 0 #181818, 9em 0 0 0 #181818;
}
input[type="range"]::-ms-thumb {
  margin: 0.05em;
  padding: 0;
  height: 0.9em;
  width: 0.9em;
  border-radius: 0.1em;
  box-sizing: border-box;
  border: none;
  background-color: #6fc5f0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2f343f,
    -7em 0 0 0 #283f6b, -6em 0 0 0 #214893, -5em 0 0 0 #1a52bc,
    -4em 0 0 0 #2769d3, -3em 0 0 0 #3e87dc, -2em 0 0 0 #55a5e6,
    -1em 0 0 0 #6fc5f0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818,
    4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818,
    8em 0 0 0 #181818, 9em 0 0 0 #181818;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-ms-track {
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper,
input[type="range"]::-ms-tooltip {
  display: none;
}

/* Label *
 * ====== */
/* ## Label main element */
label[type="range"] {
  display: block;
  position: relative;
  margin: 5px;
  padding: 0;
  font-size: inherit;
  line-height: 0.6em;
  width: 9.9em;
  height: 1em;
  border-radius: 0.25em;
  color: #242424;
  font-family: arial;
  border: 0.2em solid transparent;
  text-align: center;
  border-bottom-color: #242424;
  background-image: linear-gradient(
    #242424 calc(50% - 0.1em),
    #242424 calc(50% + 0.1em)
  );
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 0.2em 0.2em;
  color: #999;
}
label[type="range"]:first-letter {
  top: 10px;
  left: 10px;
  margin: -3px;
  font-size: 0.9em;
}
label[type="range"]::before,
label[type="range"]::after {
  display: block;
  position: absolute;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

label[type="range"][orient="270deg"] {
  border-bottom-color: transparent;
  border-right-color: #242424;
  background-position: center right;
  text-align: left;
  border-bottom-color: transparent;
  display: inline-block;
  width: 1em;
  height: 10em;
  line-height: 10em;
  vertical-align: top;
}

label[type="range"][orient="270deg"] {
  border-bottom-color: transparent;
  border-right-color: #242424;
  background-position: center right;
  text-align: center;
  vertical-align: center;
}
label[type="range"][orient="270deg"]::before {
  content: attr(before);
  bottom: -0.2em;
  top: auto;
  right: 0.7em;
  left: auto;
  text-align: right;
}

label[type="range"][orient="270deg"]::after {
  right: 0.3em;
  bottom: auto;
  top: -0.2em;
  left: auto;
  text-align: right;
  content: attr(after);
}
